{% extends 'backoffice/layout.html.twig' %}

{% block title %}Back-Office | High Riders

{% endblock %}

{% block content %}

    <main class="container m-4">
    <h1 class="text-center text-success border ">Backoffice du site High Riders</h1>
        <div class="row align-items-center">

            <div class="col align-self-center my-auto">
                 <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                       Date:
                        <span class="badge bg-info ">{{ "now"|date("d/m/Y") }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Heure:
                        <span class="badge bg-info ">{{ "now"|date("H:i") }}</span>
                    </li>
                   
                </ul>
                <br class="m-4">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dernieres inscriptions :
                        <span class="badge bg-primary rounded-pill">14</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dernier spot ajouté :
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Dernier spot ajouté :
                        <span class="badge bg-primary rounded-pill">1</span>
                    </li>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nouveaux messages
                            <span class="badge bg-primary rounded-pill">1</span>
                        </li>
                    {% endif %}
                </ul>

            </div>

            <div class="col-6">
                    <h1 class="mt-5 text-center">
                        {% if app.user %}
                            Bienvenue
                            {{ app.user.pseudo }}
                        {% else %}
                            <a href="{{ path('app_login') }}" class="btn btn-danger my-2">Se connecter</a>
                            
                        {% endif %}
                    </h1>
                    
                    <div class="m-6 mt-4">
                        <img src="https://image.freepik.com/photos-gratuite/beau-paysage-montagnes-rocheuses-paysage-verdoyant-sous-ciel-nuageux_181624-26086.jpg" alt="Background High Rider" class="rounded img-fluid " >
                    </div>
            </div>

            <div class="col-1">
                
            </div>
            <br class="m-4">
        </div>
    </main>

{% endblock %}
