{% extends 'backoffice/layout.html.twig' %}

{% block title %}Page d'administration
{% endblock %}

{% block content %}
    <main class="container">

        <h2>Page d'administration</h2>
        <p>
            Bienvenue sur High Riders
        </p>

    </main>
{% endblock %}
