{% extends "base.html.twig" %}

{% block body %}


        <main class="row">
            <!-- Menu de navigation -->
            <div class="col-3">
                <h2>Administration</h2>
                <div class="btn-group-vertical" role="group" aria-label="Button group with nested dropdown">
                    <a href="{{ path('backoffice_home') }}" class="btn btn-secondary">Accueil</a>
                    <a href="{{ path('backoffice_spots') }}" class="btn btn-secondary">Spots</a>
                    <a href="{{ path('backoffice_events') }}" class="btn btn-secondary">Evenements</a>
                    <a href="{{ path('backoffice_user_index') }}" class="btn btn-secondary">Utilisateurs</a>
                    
                    <div class="btn-group" role="group">
                        <a id="btnGroupDrop1" href="" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <li>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Dropdown link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Contenu principal -->
            <div class="col-8">

                {% block content %}{% endblock %}

            </div>
        </main>

{% endblock %}
