{% extends "base.html.twig" %}

{% block body %}


            <!-- Main content -->

            {# <div class="col-8"> #}

                {% block content %}{% endblock %}

            {# </div> #}
        </main>

{% endblock %}
