<form method="post" action="{{ path('backoffice_event_delete', {'id': listEvent.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette Evenement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ listEvent.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>