{% extends 'base.html.twig' %}

{% block title %}Back-Office | Creation d'un Evenement
{% endblock %}

{% block body %}
    
    <main class="container">
        <div class="m-4">
            {{ include('backoffice/events/_form.html.twig') }}

            <a href="{{ path('backoffice_events') }}" class="btn btn-outline-secondary btn-lg mt-2">Retour aux Evenements</a>
        </div>
    </main>
{% endblock %}
