{% extends 'base.html.twig' %}

{% block title %}Edition d'un Evenement
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('backoffice_home')  }}">
        <img src="{{ asset('images/LogoridersV1.1.png') }}" alt="" width="100" height="80" class="d-inline-block align-text">
        Hihg Riders | Modifier un Evenement
        </a>
        </div>
     </nav>
     <main class="container">
        <div class="m-4">
    
        
            {{ include('backoffice/events/_form.html.twig') }}

            <a href="{{ path('backoffice_events') }}" class="btn btn-outline-secondary btn-lg mt-2">Retours aux spots</a>
        
        </div>
    </main>
    
{% endblock %}