{% extends 'base.html.twig' %}


{% block body %}


   <header>
        <div class="container">
           
            <div class="btn-group m-4" role="group" aria-label="Basic example">
             {% if app.user %}
                <div class="badge bg-primary text-center" style="width: 10rem;">
                    {{ app.user.firstname }}
                 </div>

                <a type="button" class="btn btn-primary" href="#">Profil</a>
                 {% if is_granted('ROLE_ADMIN') %}
                 <a type="button" class="btn btn-primary" href="{{ path('backoffice_home') }}">Back Office</a>
                 {% endif %}
                 <a type="button" class="btn btn-primary" href="{{ path('app_logout') }}">Déconnexion</a>
             {% else %}    
              <a type="button" class="btn btn-primary" href="{{ path('app_login') }}">Se connecter</a>
            </div>
             {% endif %}
        </div>
    </header>

{% endblock %}
