{% extends 'base.html.twig' %}

{% block title %}Nouveau Spot
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('backoffice_home')  }}">
        <img src="{{ asset('images/LogoridersV1.1.png') }}" alt="" width="100" height="80" class="d-inline-block align-text">
        Hihg Riders | Ajouter un nouveau Spot
        </a>
        </div>
     </nav>
 
 
    <main class="container">
        <div class="m-4">
            {{ include('backoffice/spots/_form.html.twig') }}

            <a href="{{ path('backoffice_spots') }}">Retour aux spots</a>
        </div>
    </main>
{% endblock %}
