{% extends 'base.html.twig' %}

{% block title %}Back-Office | Création d'un Spot
{% endblock %}

{% block body %}

    <main class="container">
        <div class="m-4">
            {{ include('backoffice/spots/_form.html.twig') }}

            <a href="{{ path('backoffice_spots') }}" class="btn btn-outline-secondary btn-lg mt-2">Retour aux spots</a>
        </div>
    </main>
{% endblock %}
