{% extends 'base.html.twig' %}

{% block title %}Edit Spot
{% endblock %}

{% block body %}
    <h1>Edition d'un Spot</h1>
     <main class="container">
        <div class="m-4">
    
            {{ include('backoffice/spots/_form.html.twig') }}

            <a href="{{ path('backoffice_spots') }}">Retours aux spots</a>
        </div>
    </main>
    
{% endblock %}