{% extends 'base.html.twig' %}

{% block title %}Back-Office | Modifier un Spot
{% endblock %}

{% block body %}
    
     <main class="container">
        <div class="m-4">
    
        
            {{ include('backoffice/spots/_form.html.twig') }}

            <a href="{{ path('backoffice_spots') }}" class="btn btn-outline-secondary btn-lg mt-2">Retours aux spots</a>
        
        </div>
        <br class="m-4">
    </main>
    
{% endblock %}