<footer class="text-muted text-center bg-light p-2 fixed-bottom">
    <div class="container align-items-end">
        <p class="mb-1">2021 &copy; Hight Riders. Tous droits réservés</p>
    </div>
</footer>
