{% extends 'base.html.twig' %}

{% block title %}Back-Office | Ajout d'un Utilisateur{% endblock %}

{% block body %}
 
   <main class="container">
        <div class="m-4">

             {{ include('backoffice/user/_form.html.twig') }}

        <a href="{{ path('backoffice_user_index') }}"class="btn btn-outline-secondary btn-sm mt-2">Retour à la liste des utilisateurs</a>
        </div>
    </main>

{% endblock %}
