{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Creation d'un nouvel Utilisateur</h1>
        <a href="{{ path('backoffice_user_index') }}">Retour à la liste des utilisateurs</a>
             {{ include('backoffice/user/_form.html.twig') }}

    
{% endblock %}
