{% extends 'base.html.twig' %}

{% block title %}Hello homeController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello home backoffice</h1>
    {% for spot in spots %}
    <h1>{{ spot.title }}<h1>
    <image src="{{ spot.image }}" width="100" >>
    <p>{{ spot.description}}</p>
    

    {% endfor %}
    
</div>
{% endblock %}
